<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | Health Meds</title>
    <link rel="stylesheet" href="/User/Login/css/style.css">
    <link rel="stylesheet" href="/chatBot/static/style.css">
</head>
<body>
    <div class="main-wrap">
        <div class="outer-wrap">
            <div class="img-wrap">
                <img src="/User/Login/images/9277_cartoon-doctor-png.png" alt="">
            </div>
            <div class="form-wrap">
                <h1>Login</h1>
                
                <form action="#" class="form">
                    <br>
                    <input type="email" name="email" placeholder="Email"><br>
                    <input type="password" name="pass" placeholder="Password"><br>
                    <button type="submit" class="btn">Login</button>
                </form>

                <div class="social-login">
                    <a href="#">
                        <img src="/User/Login/images/google.png" alt="Google">
                    </a>
                    <a href="#">
                        <img src="/User/Login/images/fb.png" alt="Facebook">
                    </a>
                    <a href="#">
                        <img src="/User/Login/images/twitter.png" alt="Twitter">
                    </a>
                </div>
                <div class="bottom-text">
                    <p>Don't have an account? <a href="register">Register</a></p>
                </div>
            </div>
        </div>
    </div>
   <!---ChatBot-->

    <div id="c-box" class="container">
        <div class="chatbox">
            <div class="chatbox__support">
                <div class="chatbox__header">
                    <div class="chatbox__image--header">
                        <img src="/chatBot/img/circled-user-female-skin-type-5--v1.png" alt="image">
                    </div>
                    <div class="chatbox__content--header">
                        <h4 class="chatbox__heading--header">Chat support</h4>
                        <p class="chatbox__description--header">Hi. My name is ooggy. How can I help you?</p>
                    </div>
                </div>
                <div class="chatbox__messages">
                    <div></div>
                </div>
                <div class="chatbox__footer">
                    <input type="text" placeholder="Write a message...">
                    <button class="chatbox__send--footer send__button">Send</button>
                </div>
            </div>
            <div class="chatbox__button">
                <button><img src="chatBot/img/robot11.jpg" /></button>
            </div>
        </div>
    </div>

    <script src="/chatBot/static/app.js"></script>
</body>
</html>